name: experimental-ops

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/flag_gems/experimental_ops/**'
      - 'experimental_tests/**'

  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/flag_gems/experimental_ops/**'
      - 'experimental_tests/**'
env:
  CUDA_VISIBLE_DEVICES: 6
  http_proxy: ${{ secrets.HTTP_PROXY }}
  https_proxy: ${{ secrets.HTTPS_PROXY }}

jobs:
  experimental-test-on-hopper:
    runs-on: hopper
    concurrency:
      group: experimental-test-on-hopper-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: FlagGems experimental tests on hopper
        shell: bash
        env:
          BASE_SHA: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
          HEAD_SHA: ${{ github.sha }}
          source_dir: src/flag_gems/experimental_ops
          unit_test_dir: experimental_tests/unit
          performance_test_dir: experimental_tests/performance
        run: |
          source "/home/zhangzhihui/miniconda3/etc/profile.d/conda.sh"
          conda activate flag_gems
          source tools/run_command.sh
          bash tools/experimental-op-test.sh
