name: quick-cpu

on:
  workflow_call:

jobs:
  container-unit-test:
    runs-on: jiuding
    # Temporary hack to skip this job for PRs from FODC contest.
    if: "! contains(github.event.pull_request.labels.*.name, 'competition')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check GPU free
        shell: bash
        run: tools/gpu_check.sh

      - name: Testing
        shell: bash
        run: |
          git config --global --add safe.directory ../FlagGems
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            PR_ID=${{ github.event.pull_request.number }}
          elif [ "${{ github.event_name }}" == "push" ]; then
            PR_NUMBER=$(git log -1 --pretty=format:'%s' | grep -oE '#[0-9]+' | grep -oE '[0-9]+')
            PR_ID=${PR_NUMBER}
          fi
          bash tools/op-test-quick-cpu.sh ${PR_ID}
